@import "../../variable.module.scss";

.pageTitle {
  text-transform: capitalize;
  font-size: 28px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  .actionIcon {
    margin-left: 8px;
    height: 40px;
    cursor: pointer;
    margin-right: 16px;
  }
}
