@import "../../../variable.module.scss";

.eventContainer {
  padding: 24px;
  background-color: $whiteColor;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 8px 12px 2px gray;
  .roomHeading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .refreshIocn {
      cursor: pointer;
      height: 32px;
      margin-right: 24px;
    }
    .addRoomBtn {
      background-color: $primaryBtnColor;
      color: $whiteColor;
      font-size: 600;
    }
  }
  .labourTableContainer {
    margin-top: 32px;
    .labourTable {
      width: 100%;
      border-collapse: collapse;
      .tableHeaderRow {
        border-bottom: 1px solid $borderColor;
        .tableHeaderRowItem {
          text-align: left;
          font-size: 20px;
          color: #6c757d;
          font-weight: 600;
          padding: 16px;
        }
      }
      .tableDataRow {
        padding: 8px 16px;
        &:nth-child(even) {
          background-color: #dadcdd;
        }
        .tableDataRowItem {
          text-align: left;
          font-size: 17px;
          font-weight: 500;
          padding: 16px;
          .idProof {
            height: 32px;
            cursor: pointer;
          }
          .actionIcon {
            height: 24px;
            cursor: pointer;
            margin-right: 8px;
            &:lest-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.noData {
  text-align: center;
  margin-top: 32px;
}
