@import "../../../variable.module.scss";

.viewBookingContainer {
  padding: 24px;
  background-color: $whiteColor;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 8px 12px 2px gray;
  .productDetialsContainer {
    .productContainer {
      margin-top: 16px;
      .productDetialsLabel {
        font-size: 20px;
      }
      .productDetialsValue {
        margin-left: 8px;
        font-size: 20px;
      }
    }
    .userBookingListContainer {
      margin-top: 24px;
      .userBookingTable {
        width: 100%;
        border-collapse: collapse;
        .tableHeaderRow {
          border-bottom: 1px solid $borderColor;
          .tableHeaderRowItem {
            text-align: left;
            font-size: 20px;
            color: #6c757d;
            font-weight: 600;
            padding: 16px;
          }
        }
        .tableDataRow {
          padding: 8px 16px;
          &:nth-child(even) {
            background-color: #dadcdd;
          }
          .tableDataRowItem {
            text-align: left;
            font-size: 16px;
            font-weight: 500;
            padding: 16px;
          }
        }
      }
    }
  }
}

.messageText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}
