@import "../../../variable.module.scss";

.eventContainer {
  padding: 24px;
  background-color: $whiteColor;
  border-radius: 8px;
  .formRow {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    .formItem {
      width: 50%;
      div[class^="react-datepicker-wrapper"] {
        width: 100%;
      }
      .eventLabel {
        display: block;
        margin-bottom: 8px;
      }
      .eventInput {
      }
      .dateInput {
        width: 100%;
      }
    }
  }
  .formDevider {
    margin-top: 16px;
    width: 100%;
    height: 1px;
    background-color: $borderColor;
  }
  .btnContainer {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .resetBtn {
      margin-right: 40px;
    }
    .submitbtn {
      background-color: $secondaryBtnColor;
      color: $whiteColor;
    }
  }
}
