@import "../../../variable.module.scss";

.roomContainer {
  padding: 24px;
  background-color: $whiteColor;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 8px 12px 2px gray;
  .roomHeading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .refreshIocn {
      cursor: pointer;
      height: 32px;
      margin-right: 24px;
    }
    .addRoomBtn {
      background-color: $primaryBtnColor;
      color: $whiteColor;
      font-size: 600;
    }
  }
  .roomTableContainer {
    margin-top: 32px;
    .roomTable {
      width: 100%;
      border-collapse: collapse;
      .tableHeaderRow {
        border-bottom: 1px solid $borderColor;
        .tableHeaderRowItem {
          text-align: left;
          font-size: 20px;
          color: #6c757d;
          font-weight: 600;
          padding: 16px;
          &:nth-child(1) {
            width: 15%;
          }
          &:nth-child(2) {
            width: 15%;
          }
          &:nth-child(3) {
            width: 15%;
          }
          &:nth-child(4) {
            width: 15%;
          }
          &:nth-child(5) {
            width: 40%;
          }
        }
      }
      .tableDataRow {
        padding: 8px 16px;
        &:nth-child(even) {
          background-color: #dadcdd;
        }
        .tableDataRowItem {
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          padding: 16px;
        }
        .roomCircleContainer {
          display: grid;
          grid-template-columns: repeat(10, 1fr);
          gap: 4px;
          .roomCircle {
            cursor: pointer;
            border-radius: 50%;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $whiteColor;
            font-weight: 600;
          }
        }
      }
    }
  }
}
.noData {
  text-align: center;
  margin-top: 32px;
}
