@import "../../variable.module.scss";

.homeContainer {
  padding: 16px;
  .cardEventContainer {
    display: flex;
    align-items: center;
    height: 320px;
    .cardContainer {
      margin-right: 40px;
      .cardItem {
        margin-bottom: 16px;
        padding: 16px;
        color: $whiteColor;
        border-radius: 8px;
        box-shadow: 0 8px 6px 2px gray;
        .cardLabel {
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 10px;
          font-weight: 600;
          line-height: 1.1;
        }
        .labelValue {
          margin: 12px 0;
          font-size: 24px;
          display: block;
        }
      }
      .primaryCard {
        background-color: $primaryCardColor;
      }
      .secondaryCard {
        background-color: $secondaryCardColor;
      }
      .tertiaryCard {
        background-color: $tertiaryCardColor;
      }
    }
    .eventParentContainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .bookingFormContainer {
    box-shadow: 0 8px 12px 2px gray;
    border-radius: 4px;
    background-color: $whiteColor;
    padding: 32px;
    margin: 32px 0;
    .formRow {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      .formItem {
        width: 50%;
        .genRoomBtn {
          background-color: $primaryBtnColor;
          color: $whiteColor;
          font-size: 16px;
          font-weight: 600;
        }
        input[type="checkbox"] {
          width: 5% !important;
        }
        .paidCheckbox::after {
          content: attr(value);
          margin: 8px 63px;
          vertical-align: top;
          white-space: nowrap;
          display: inline-block;
        }
        div[class^="react-datepicker-wrapper"] {
          width: 100%;
        }
        .eventLabel {
          display: block;
          margin-bottom: 8px;
        }
        .eventInput {
        }
        .dateInput {
          width: 100%;
        }
      }
    }
    .btnContainer {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .resetBtn {
        margin-right: 40px;
      }
      .submitbtn {
        background-color: $secondaryBtnColor;
        color: $whiteColor;
      }
    }
  }
}

.formValidationError {
  color: red;
  margin-top: 4px;
}

.eventParentContainer {
}
