@import "../../../variable.module.scss";

.labourContainer {
  padding: 24px;
  background-color: $whiteColor;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 8px 12px 2px gray;
  .roomHeading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .refreshIocn {
      cursor: pointer;
      height: 32px;
      margin-right: 24px;
    }
    .addRoomBtn {
      background-color: $primaryBtnColor;
      color: $whiteColor;
      font-size: 600;
    }
  }
  .labourTableContainer {
    margin-top: 32px;
    .labourTable {
      width: 100%;
      border-collapse: collapse;
      .tableHeaderRow {
        border-bottom: 1px solid $borderColor;
        .tableHeaderRowItem {
          text-align: left;
          font-size: 20px;
          color: #6c757d;
          font-weight: 600;
          padding: 16px;
        }
      }
      .tableDataRow {
        padding: 8px 16px;
        &:nth-child(even) {
          background-color: #dadcdd;
        }
        .tableDataRowItem {
          text-align: left;
          font-size: 17px;
          font-weight: 500;
          padding: 16px;
          .idProof {
            height: 32px;
            cursor: pointer;
          }
          .actionIcon {
            height: 24px;
            cursor: pointer;
            margin-right: 8px;
            &:lest-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .qrContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .qrModal {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.scannerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  .scannerInnerContainer {
    width: 640px;
    height: 480px;
  }
}

.noData {
  text-align: center;
  margin-top: 32px;
}

.scannerCloseIcon {
  height: 32px;
  cursor: pointer;
  position: relative;
  position: absolute;
  padding-top: 16px;
  padding-left: 16px;
  z-index: 10;
}
