@import "../../variable.module.scss";

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: $headerBgColor;
  padding: 8px 16px;
  color: $whiteColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  .buttonToggleMenu {
    border: none;
    color: #8391a2;
    width: 60px;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    .menuLine {
      width: 35px;
      height: 4px;
      background-color: $menuLineColor;
      margin: 5px 0;
    }
  }
  .userAvatarContainer {
    cursor: pointer;
    .userAvatarIcon {
      height: 32px;
    }
  }
}
.loginBtnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
