@import "./variable.module.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.mainRoot {
  height: 100%;
}

input {
  border-radius: 4px;
  font-size: 18px;
  height: 32px;
  padding: 8px 16px;
  border: 1px solid $borderColor;
  width: 100%;
  &:focus {
    outline: none;
  }
}
input[type="checkbox"] {
  cursor: pointer;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

///APP.js sgtyles

.mainApp {
  height: 100%;
  background-color: $primarybgColor;
  .navigation {
    position: fixed;
    height: 100%;
    transition: all 0.25s ease-in-out;
    padding-top: 80px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $whiteColor;
  }
  .largVerticalNavigation {
    width: 15%;
  }
  .verticalNavigation {
    width: 5%;
  }
  .mainPageScss {
    padding: 24px 16px;
  }
  .mainPage {
    margin-left: 5%;
  }
  .extraMargin {
    margin-left: 15%;
  }
}

.listPadding {
}
