$primarybgColor: #eaf1f3;
$borderColor: #92969a;
$primaryBtnColor: #3bc0c3;
$secondaryBtnColor: #3d7bcd;
$headerBgColor: #313a46;
$whiteColor: #fff;
$menuLineColor: #586371;
$primaryCardColor: #f24f7c;
$secondaryCardColor: #716cb0;
$tertiaryCardColor: #33b0e0;
$pageHeadingBgColor: #f8f9fa;
$roomAvailable: #19891c;
