@import "../../variable.module.scss";

.pageNavigationList {
  cursor: pointer;
  .itemActive {
    background-color: $primaryBtnColor;
  }
  .naviIconBtn {
    height: 72px;
    background-color: $headerBgColor;
  }
  .pageNavigationItem {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    cursor: pointer;
    .navIcon {
      height: 24px;
      cursor: pointer;
    }
    .navLabel {
      margin-left: 16px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.buttonToggleMenu {
  border: none;
  color: #8391a2;
  width: 60px;
  background-color: transparent;
  font-size: 24px;
  margin-bottom: 48px;
  cursor: pointer;
  z-index: 1;
  .menuLine {
    width: 35px;
    height: 4px;
    background-color: $menuLineColor;
    margin: 5px 0;
  }
}
